.pagination {
    display: flex;
    list-style-type: none;
    gap: 30px;
    cursor: pointer;
}
.poster {
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s ease;
}
.poster:hover {
    transform: scale(1.1);
    cursor:pointer;
}