.container {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
.main {
    text-align: center;
    margin-top: 50px;
}
.movieBox {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.movieCard {
    width: 180px;
    text-align: center;
    border: 3px solid;
    border-color: #ffa31a;
    border-radius: 9px;
}
.poster {
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s ease;
}
.poster:hover {
    transform: scale(1.1);
    cursor:pointer;
}