    .container {
        display: flex;
        flex-direction: row;
    }
    .side {
        flex: 20%;
        background-color: #f1f1f1;
        padding: 20px;
    }
    .main {
        flex: 80%;
        background-color: #ffffff;
        padding: 20px;
    }
    .img {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    .cool {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .cool.show {
        display: block;
    }
    .coolContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 0.2s ease;
        max-width: 90vw;
        max-height: 90vh; /*n채ytt채채 kuvan viewpoint width ja height*/
        width: auto;
        height: auto;
        object-fit: contain;
        border-radius: 6px;
    }
    .cool.show .coolContent {
        transform: translate(-50%, -50%) scale(1);
    }
    .close { /*X nappi kuvan oikeassa yl채kulmassa*/
        position: absolute;
        top: 0px;
        right: 430px;
        color: red;
        font-size: 40px;
        cursor: pointer;
    }