.container {
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
}
.main {
    text-align: center;
    margin-top: 50px;
}
.movieBox {
    display: grid;
    gap: 30px;
    margin-top: 30px;
    grid-template-columns: repeat(6, 1fr);
}
.movieCard {
    width: 180px;
    text-align: center;
}
.poster {
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s ease;
}
.poster:hover {
    transform: scale(1.1);
    cursor:pointer;
}