.container {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
.main {
    text-align: center;
    margin-top: 50px;
}
.movieBox {
    display: grid;
    gap: 30px;
    margin-top: 30px;
    grid-template-columns: repeat(6, 1fr);
}
.movieCard {
    width: 180px;
    text-align: center;
    border: 3px solid;
    border-color: #8F8f8f;
    border-radius: 9px;
}
.poster {
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s ease;
}
.poster:hover {
    transform: scale(1.1);
    cursor:pointer;
}
@media (max-width: 1200px) {
  .movieBox {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1100px) {
  .movieBox {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .movieBox {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .movieBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .movieBox {
    grid-template-columns: repeat(1, 1fr);
  }
}