.container {
  display: flex;
  flex-direction: column;
}
.review {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.topBox {
  width: 80px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomBox {
  width: 80px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review_description {
  text-align: start;
  align-items: center;
  display: flex;
  padding: 4px;
}
.img {
  cursor: pointer;
  width: 80px;
  height: 120px;
  padding: 4px;
}
.pagination {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
