.Container {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    position: relative;
    display: flex 1;
}
.searchSection {
    text-align: center;
    margin-top: 45px;
}
.searchInput {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}
.searchButton {
    padding: 10px 20px;
    margin-left: 25%;
    cursor: pointer;
}
.movieCard {
    text-align: center;
    width: 220px;
    height: 440px;
    border: 3px solid;
    border-color: #ffa31a;
    border-radius: 9px;
}
.movieBox {
    display: grid;
    gap: 90px;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.main {
    text-align: center;
    margin-top: 50px;
}
.poster {
    transition: transform 0.2s ease;
    border-radius: 6px;
}
.poster:hover {
    transform: scale(1.1);
    cursor:pointer;
}
.pagination {
    color: white;
    font-size: 30px;
    display: flex;
    list-style-type: none;
    gap: 30px;
    cursor: pointer;
}
.sideBar {
    width: 250px;
    padding: 20px;
}
.searchContainer {
    display: flex;
}

@media (max-width: 1100px) {
  .movieBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .movieBox {
    grid-template-columns: repeat(1, 1fr);
  }
}

.dropdown {
    width: 224px;
    padding: 10px;
    font-size: 16px;
}