#container {
margin: 2em;

}

h1 {
    font-family: Georgia, serif;
    font-size: 60px;
}

body {
  background-color: lightgray;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul li {
    width: auto;
}

li {
    border: 1px solid gray;
    padding:4px;
} 

li:hover {
    background-color:lightblue;
}

li.selected {
    color:red;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}