.navbar {
  align-items: center;
  display: flex;
  font-family: sans-serif;
}
nav li {
  display: flex;
  margin: 8px;
  padding: 0;
  float: left;
}

body {
  background-color: #1f1f1f;
}

p, h1, h2 , h3, h4, h5, li, ul {
  color: white;
  font-family: sans-serif;
}