.Container {
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
    position: relative;
}
.searchSection {
    text-align: center;
    margin-top: 45px;
}
.searchInput {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}
.searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}
.movieCard {
    text-align: center;
    width: 220px;
    height: 440px;
}
.movieBox {
    display: grid;
    gap: 30px;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.main {
    text-align: center;
    margin-top: 50px;
}
.poster {
    transition: transform 0.2 ease;
}
.poster:hover {
    transform: scale(1.1);
    cursor:pointer;
}
.pagination {
    display: flex;
    list-style-type: none;
    gap: 30px;
    cursor: pointer;
}